# IntelliJ IDEA
.idea/

# Compiled files
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Logs and databases
*.log
*.sql
*.sqlite

# OS-specific files
.DS_Store
Thumbs.db

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Gradle
build/
.gradle/

# Eclipse
.classpath
.project
.settings/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
