# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# Maven
**/target/
*.iml
*.ipr
*.iws
.idea/
.idea_modules/

# Gradle
.gradle/
build/

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# Compiled Java
*.class

# Compiled Kotlin
*.kotlin_module

# Compiled Groovy
**/out/

# Spring Boot
*.jar
*.war
**/target/
!.mvn/wrapper/maven-wrapper.jar

# Local configuration file (application-*.yml, application-*.properties)
/application-*.yml
/application-*.properties
